:root {
  --basic-black: #000000;
  --basic-black-2: #333333;
  --basic-white-2: #F2F2F2;
  --basic-neutral: #666666;
  --basic-extra-light: #81B3D2;
  --basic-white: #ffffff;
  --basic-grey: #EEEEEE;

  --special: #766357;
  --special-2: #CACACA;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: #888888;
 }

img {
max-width: 100%;
height: auto;
}

.page {
height: 100%;
}

.page-body {
min-height: 100%;
display: grid;
align-content: start;
}

.main-header {
margin-bottom: 69px;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
max-width: 1200px;
width: 100%;
margin: 0px auto;
height: auto;
}

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation  {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-left: 72px;
  list-style: none;
outline: 5px solid rgba(0, 255, 255, 0.3);
outline-offset: -5px;
padding: 0;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black-2);
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
background-color: var(--basic-white);
}

.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  order: 1;
  position: absolute;
  position: top center;
}

.caption {
text-align: center;
font-size: 21px;
line-height: 26px;
vertical-align:bottom;
}

.caption h1 {
  text-align: center;
  vertical-align:bottom;
}

.container-inner-page {
background-position: 0 0;
}

.main-filter {
color:var(--basic-white);
background-image: url(img/background.jpg);
background-repeat: repeat;
}

.filter {
font-weight: bold;
font-size: 16px;
line-height: 21px;
color:var(--basic-white);
}

.breadcrumbs {
list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--basic-dark);
}

.cost {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.button-hotels {
  font: inherit;
  color: var(--basic-white);
  background-image: url(img/background.jpg);
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  outline:none;
}


.result h2 {
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color:var(--basic-black);
}

.result h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color:var(--basic-black);
}

.result-list {
  list-style: none;
}

.result-search h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.result-search-list {
list-style: none;
}

.detailed {
font-weight: 700;
color:var(--basic-white);
background-color: var(--basic-extra-light);
text-decoration: none;
}

.booking {
font-weight: 700;
color:var(--basic-white);
background-color: var(--special);
text-decoration: none;
}

.rating {
color:#666666;
background-color:var(--basic-white-2);
}

.stars {
color:var(--basic-extra-light);
}

.result-list a{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color:var(--basic-black);

}

.price a{
  color:var(--basic-extra-light);
  text-decoration: none;
}

.content h3 {
text-align: center;
font-size: 14px;
line-height: 26px;
font-weight: 400;
color:var(--basic-black-2);
}
.content {
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  margin-bottom: 51px;
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 0px auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  min-height: 725px;
  height: auto;
  margin: 0px auto;
  text-align: center;
  background-image: url(img/welcome.jpg);
  background-repeat: no-repeat;
  background-color:#888888 ;
  justify-self: center;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  order: 1;
  background-size: cover;
}

.reason-list-1 {
list-style: none;
margin: 0;
padding: 0;
display: grid;
grid-template-columns: 33% 66%;
min-height: 256px;
height: auto;
}

.reason-list-1-1{
list-style: none;
margin: 0;
padding: 0;
display: grid;
grid-template-columns: 66% 33%;
min-height: 256px;
height: auto;
}

.reason-list-2 {
list-style: none;
margin: 0;
padding: 0;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
min-height: 256px;
height: auto;
}

.advice-list {
list-style: none;
margin: 0;
padding: 0;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
min-height: 256px;
height: auto;
}

.reason-1 {
text-align: center;
color: var(--basic-white);
background-color: var(--basic-extra-light);
outline: 5px solid rgba(0, 255, 255 , 0.3);
}

.im-1 {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.reason-1 h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  font-weight: bold;
}

.advice {
  text-align: center;
  color: var(--basic-black-2);
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  background-color: #FFFFFF;
}


.advice h3 {
  font-size: 21px;
  line-height: 21px;
  color:var(--basic-black);
  font-weight: bold;
}

.reason-2 {
  text-align: center;
  color: var(--basic-black-2);
  background-color: var(--basic-grey);
  outline: 5px solid rgba(0, 255, 255 , 0.3);
}

.reason-2 h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  font-weight: bold;
}

.appointment p{
font-weight: 400;
font-size: 14px;
line-height: 24px;
list-style: none;
text-align: center;
color: var(--basic-black);
}

.popup label{
background-color: var(--basic-white-2);
color: var(--basic-black);
font-weight: bold;
font-size: 14px;
line-height: 26px;
text-transform: uppercase;
color: var(--basic-black);
background-color: var(--basic-white);
box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.button-popup{
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  font-weight: bold;
  background-color: var(--basic-extra-light);
  background-position: 0 0;
  background-repeat: repeat;
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.button-popup:active {
  background-color:#5496BD;
  opacity: 30%;
}

.button-popup:hover {
  background-color:#669EC0;
}

.appointment-name,
.appointment-date:focus{
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
}

.appointment-name,
.appointment-date:hover{
  background-color: #EBEBEB;
}

.calendar {
color:#A9A9A9;
}
.calendar:hover {
color:var(--basic-black);
}
.calendar:active {
color:#81B3D2;
}

.plus,
.minus {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  border: none;
  color: #A9A9A9;
}

.minus:hover {
  color:var(--basic-black);
}
.minus:active {
  color:#81B3D2;
}
.plus:hover {
 color:var(--basic-black);
}
.plus:active {
  color:#81B3D2;
}

.appointment h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-black);
  text-align: center;
}

.appointment {
background-color: #FFFFFF;
max-width: 1200px;
width: 100%;
height: auto;
margin: 0px auto;
}

.appointment-1 {
  list-style: none;
  max-width: 568px;
  width: 100%;
  height: auto;
  margin: 0px auto;
}


.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--special);
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}


.button:hover {
  background-color: #604E43;
}

.button:active {
  background-color: #503E33;
  opacity: 30%;
}

.contacts {
  background-position: 0 0;
  max-width: 1200px;
width: 100%;
height: auto;
margin: 0px auto;
}

.contacts h2{
  color: inherit;
  text-align: center;
}

.main-footer {
color: var(--basic-black);
background-color: var(--basic-white);
background-repeat: repeat;
text-align: center;
outline: 5px solid rgba(255, 0, 0, 0.7);
outline-offset: -5px;
max-width: 1200px;
width: 100%;
height: auto;
margin: 0px auto;
}

.footer-social-list {
  list-style: none;
  color: inherit;
}

.social-button {
  background-color: var(--basic-extra-light);
  color: inherit;
  text-decoration: none;
}

.social-button:hover {
  background-color:#669EC0;
}
.social-button:active {
  background-color:#5496BD;
  opacity: 30%;
}

.main-footer h3 {
  font-size: 21px;
  line-height: 26px;
}

.footer-phone {
font-size: 21px;
line-height: 26px;
color: inherit;
font-weight: bold;
text-align: center;
text-transform: uppercase;
text-decoration: none;
}

.footer-button {
  color: var(--basic-black);
}

.footer-button:hover {
color: var(--basic-extra-light);
}

.footer-button:active {
 color: #BDBBBC
}

.footer-site {
  line-height: 26px;
}



