:root {
  --basic-black: #000000;
  --basic-black-2: #333333;
  --basic-white-2: #F2F2F2;
  --basic-neutral: #666666;
  --basic-extra-light: #81B3D2;
  --basic-white: #ffffff;
  --basic-grey: #EEEEEE;

  --special: #766357;
  --special-2: #CACACA;
}

body {
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
 }

img {
max-width: 100%;
height: auto;
}

.caption {
text-align: center;
font-size: 21px;
line-height: 26px;
}


.container-inner-page {
background-position: 0 0;
}

.main-filter {
color:var(--basic-white);
background-image: url(img/background.jpg);
background-repeat: repeat;
}

.filter {
font-weight: bold;
font-size: 16px;
line-height: 21px;
color:var(--basic-white);
}

.breadcrumbs {
list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--basic-dark);
}

.cost {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.button-hotels {
  font: inherit;
  color: var(--basic-white);
  background-image: url(img/background.jpg);
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  outline:none;
}


.result h2 {
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color:var(--basic-black);
}

.result h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color:var(--basic-black);
}

.result-list {
  list-style: none;
}

.result-search h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.result-search-list {
list-style: none;
}

.detailed {
font-weight: 700;
color:var(--basic-white);
background-color: var(--basic-extra-light);
text-decoration: none;
}

.booking {
font-weight: 700;
color:var(--basic-white);
background-color: var(--special);
text-decoration: none;
}

.rating {
color:#666666;
background-color:var(--basic-white-2);
}

.stars {
color:var(--basic-extra-light);
}

.result-list a{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color:var(--basic-black);
}

.price a{
  color:var(--basic-extra-light);
  text-decoration: none;

}

.content h3 {
text-align: center;
font-size: 14px;
line-height: 26px;
font-weight: 400;
color:var(--basic-black-2);
}

.container {
  text-align: center;
  background-image: url(img/welcome.jpg);
  background-repeat: no-repeat;
  background-color:#888888 ;
}


.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation  {
list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black-2);
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
background-color: var(--basic-white);
}

.reason-list {
list-style: none;
}

.reason-1 {
text-align: center;
color: var(--basic-white);
background-color: var(--basic-extra-light);
}

.reason-1 h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  font-weight: bold;
}

.advice {
  text-align: center;
  color: var(--basic-black-2);
}

.advice h3 {
  font-size: 21px;
  line-height: 21px;
  color:var(--basic-black);
  font-weight: bold;
}

.reason-2 {
  text-align: center;
  color: var(--basic-black-2);
  background-color: var(--basic-grey);
}

.reason-2 h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  font-weight: bold;
}

.appointment p{
font-weight: 400;
font-size: 14px;
line-height: 24px;
list-style: none;
text-align: center;
color: var(--basic-black);
}

.popup label{
background-color: var(--basic-white-2);
color: var(--basic-black);
font-weight: bold;
font-size: 14px;
line-height: 26px;
text-transform: uppercase;
color: var(--basic-black);
background-color: var(--basic-white);
box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.button-popup{
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  font-weight: bold;
  background-color: var(--basic-extra-light);
  background-position: 0 0;
  background-repeat: repeat;
  border: none;
  position: center;
}

.button-popup:active {
  background-color:#5496BD;
  opacity: 30%;
}

.button-popup:hover {
  background-color:#669EC0;
}

.appointment-name,
.appointment-date:focus{
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
}

.appointment-name,
.appointment-date:hover{
  background-color: #EBEBEB;
}

.calendar {
color:#A9A9A9;
}
.calendar:hover {
color:var(--basic-black);
}
.calendar:active {
color:#81B3D2;
}

.plus,
.minus {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  border: none;
  color: #A9A9A9;
}

.minus:hover {
  color:var(--basic-black);
}
.minus:active {
  color:#81B3D2;
}
.plus:hover {
 color:var(--basic-black);
}
.plus:active {
  color:#81B3D2;
}

.appointment h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-black);
  text-align: center;
}

.appointment {
list-style: none;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--special);
  border: none;
}

.button:hover {
  background-color: #604E43;
}

.button:active {
  background-color: #503E33;
  opacity: 30%;
}

.contacts {
  background-position: 0 0;
}

.contacts h2{
  color: inherit;
  text-align: center;
}

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-repeat: repeat;
  text-align: center;
}

.footer-social-list {
  list-style: none;
  color: inherit;
}

.social-button {
  background-color: var(--basic-extra-light);
  color: inherit;
  text-decoration: none;
}

.social-button:hover {
  background-color:#669EC0;
}
.social-button:active {
  background-color:#5496BD;
  opacity: 30%;
}

.main-footer h3 {
  font-size: 21px;
  line-height: 26px;
}

.footer-phone {
font-size: 21px;
line-height: 26px;
color: inherit;
font-weight: bold;
text-align: center;
text-transform: uppercase;
text-decoration: none;
}

.footer-button {
  color: var(--basic-black);
}

.footer-button:hover {
color: var(--basic-extra-light);
}

.footer-button:active {
 color: #BDBBBC
}

.footer-site {
  line-height: 26px;
}



